<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Poor Man's Tweet</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <form v-on:submit.prevent="submitForm">
      <div class="form-group">
          <label for="title">Username</label>
          <input type="text" class="form-control" id="username" v-model="username" maxlength="20">
      </div>
      <div class="form-group">
          <label for="content">Content</label>
          <input type="text" class="form-control" id="content" v-model="content" maxlength="50">
      </div>
      <div class="form-group">
          <button type="submit">Submit</button>
      </div>
    </form>
    <h1>Tweets</h1>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Content</th>
          <th>DateTime</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="tweet in tweets" :key="tweet.id">
          <td>{{ tweet.username }}</td>
          <td>{{ tweet.content }}</td>
          <td>{{ tweet.created_dt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <script>
    // defined tweetsApi as constant, but it should be loaded from .env file for production configuration
    const tweetsApi = 'http://localhost:8000/api/tweets/';
  </script>
  <script type="text/javascript">
    const { createApp } = Vue
    createApp({
      data() {
        return {
          tweets: [],
          username: '',
          content: ''
        }
      },
      methods: {
        async getTweets() {
          try {
            const response = await axios.get(tweetsApi);
            this.tweets = response.data;
          } catch (error) {
            console.log(error);
          }
        },
        async submitForm(){
          try {
            // Send a POST request to the API
            const response = await axios.post('tweetsApi', {
              username: this.username,
              content: this.content
            });
            // Append the returned data to the tweets array
            this.tweets.push(response.data);
            // Reset the username and content field values.
            this.username = '';
            this.content = '';
          } catch (error) {
            console.log(error);
          }
        }
      },
      created() {
        // Fetch tweets on page load
        this.getTweets();
      }
    }).mount('#app')
  </script>
</body>
</html>
